* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
}

header {
    background-color: #000000;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contenedor-encabezado {
    display: flex;
    align-items: center;
    width: 100%;
}

.logo {
    width: 150px;
}

.barra-busqueda {
    flex-grow: 1;
    margin: 0 20px;
    padding: 8px 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}

.iconos {
    display: flex;
    gap: 15px;
}

.icono {
    width: 35px;
    cursor: pointer;
}

.navegacion {
    width: 100%;
    background: #1f1f2e;
}

.navegacion ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.menu > li {
    position: relative;
    flex: 1;
    text-align: center;
}

.menu > li > a {
    display: block;
    padding: 15px;
    color: white;
    font-family: 'Open Sans';
    text-decoration: none;
}

.menu li a:hover {
    color: #CE7D35;
    transition: all .3s;
}

.submenu {
    position: absolute;
    background: #1f1f2e;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s;
    z-index: 1;
    left: 0;
    top: 100%;
    display: flex;
    flex-direction: column;
}

.submenu li {
    width: 100%; 
    text-align: center; 
}
.submenu li a {
    display: block;
    padding: 15px;
    color: #fff;
    font-family: 'Open Sans';
    text-decoration: none;
    width: 100%;
}

.menu li:hover .submenu {
    visibility: visible;
    opacity: 1;
}

.contenedor {
    max-width: 1300px;
    width: 90%;
    margin: auto;
}

.contenedor > h1 {
    color: #494B4D;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 15px 0px;
}

.contenedor > h1:after {
    content: '';
    width: 100%;
    height: 1px;
    background: #C7C7C7;
    margin: 20px 0;
}

.contenedor-tienda {
    display: flex;
    flex-wrap: wrap;
}

.lista-productos {
    width: 97%;
    display: flex;
    flex-wrap: wrap;
}

.lista-productos .producto {
    width: 22%;
    margin-left: 3%;
    margin-bottom: 25px;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.22);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all .4s;
}

.lista-productos .producto img {
    width: 100%;
    height: 100%;
}

.lista-productos .producto a {
    display: block;
    width: 100%;
    padding: 8px 0;
    background: #00b3b3;
    color: #fff;
    text-align: center;
    text-decoration: none;
}



#contactanos{
    padding-top: 1%;
    color: #ffffff;
    background-color: #6c6d6c;
    text-align: center;
}

label{
    margin-bottom: 10px;
    font-weight: bold;
    color: #ffffff;
}
input, textarea{
    width: 70%;
    padding: 10px;
    margin-bottom: 2%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}
button{
    width: 70%;
    padding: 12px;
    background-color: #2a2b2a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 2%;
}